<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/todos">ToDo一覧</a></li>
    <li class="breadcrumb-item active" aria-current="page">ToDoの登録</li>
  </ol>
</nav>
<div>
  <div class="text-center">
      <h2>ToDoの登録</h2>
  </div>
  <form action="/todos/create" method="POST">
    <div class="mb-3">
      <label for="titleInput" class="form-label">タイトル <span class="text-muted">（入力必須）</span></label>
      <input type="text" name="title" class="form-control" id="titleInput" placeholder="タイトル" required autofocus>
    </div>
    <div class="mb-3">
      <label for="contentsInput" class="form-label">内容</label>
      <textarea name="description" class="form-control" id="contentsInput" placeholder="内容" rows="3"></textarea>
    </div>
    <div class="mb-3">
      <label for="deadlineInput" class="form-label">内容 <span class="text-muted">（入力必須）</span></label>
      <input type="date" name="deadline" class="form-control" id="deadlineInput" required>
    </div>
    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit">ToDo登録</button>
  </form>
</div>